header {
    border:1px solid black;
    background-color: red;
    margin: 2px;
    padding: 2px;


    /*display flex*/
    display:flex;/*activacion*/
    flex-wrap:nowrap;/*desbordamiento*/
    flex-direction:row;/*direccion*/
    justify-content: space-around; /*alineacion en x*/
    align-items: center;
}
h1{
    color:white;
    text-decoration: underline;
    text-decoration-color: orange;
}

header img{
    height:100px;
    width:200px;
}

nav{
    border:1px solid black;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
nav ul ul{
    display: none;
    position: absolute;
    list-style: none;
}
nav ul li:hover > ul {
    display:block;
    list-style:none;
}
.lista{
    margin-bottom: 0px;
    list-style: none;
    border: gray solid 1px;
    width: 180px;
    height: 33px;
    text-align: center;
    position: relative;
    top:-11px;
}

.lista:hover{
    width: 185px;
    height: 38px;
    background-color:orange; 
}
  a {
    font-family: Brush Script MT;
    text-decoration: none;
    color: black;
    font-size: 30px;

}
.lista ul li{
    border: 1px solid gray;
    width: 180px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0px;
    font-size: 20px;
}
.tipos_de_comida:hover{
    color:green;
}
.tipos_de_comida.movil{
    display: none;
}
.espacio1{
    position: relative;
    top:-2px;
    width: 100%;
    height: 20px;
    background-color: orange; 
    padding: 0px;
    margin:0px;
}
input {
    background-color: white;
    width: 300px;
    border:3px solid black;
}

button { 
    font-family:Brush Script MT;
    border:1px solid gray;
    background-color:white;
    color:black;
    margin:5px;
    padding:1px;
    width: 200px;
    height: 35px;

}
button:hover{
    width: 210px;
    height: 40px;
    background-color:orange; 
}

.contenedor{
    width: 100%
    height 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contenedorTitutlo{
    font-size: 30px;
    font-family:Brush Script MT;
    width: 83%;

    display: flex;
    justify-content: center;
  
}
 h3{
   height: 30px;
   font-family:Brush Script MT;
}
.tituloComida{
    width: 0px;
    height: 0px;
    font-size: 30px;
}
.comidas{
    border: solid black 1px; 
    width: 43%;
    height: 400px;  
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contenedorSecciones{
    display: flex;
    justify-content: row;
    align-items: center;

}

.imagen img{
    width: 200px;
    height: 150px;
    margin:1px;
}
.redesSociales{

    position:relative;
    top:-100px;
    border: 1px solid black;
    height:500px; 
    width: 10%;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.redesSociales img{
    width: 105px; 
    height: 80px;
    margin:10px;
}
.tituloRedes{
    font-size: 30px;
    width: 0px;
    height: 0px;
}
.informacion{
   width: 300px;
   margin-left: 20px;

}

.espacio{
    position: relative;
    top: -105px;
    width: 100%;
    height: 20px;
    background-color: orange; 
    padding: 0px;
    margin:0px;
}

footer{
    position: relative;
    top:-105px;
    bottom: 30px
    height:70px;
    background-color:red; 
    display: flex;
    justify-content: space-around;
}

.botones{
  
    display: flex;
    align-items: center;    
}
.derechos{
    display: flex;
    align-items: center;
}

footer button{
    border:0px;
    padding:0px;
    margin:0px;
    width: 200px;
    height: 30px;
    border-right:1px solid black;
    background-color:orange ; 
    font-family:Brush Script MT;
    font-size: 28px;
}
footer button:hover{
    width: 210px;
    height: 35px; 
    background-color:darkorange ;   
}
@media screen and (max-width: 576px){
    header{
        flex-direction: column;
    }
    header img{
        width: 200px;
        height: 200px;
    }
    header input{
        width: 250px;
        height: 25px;
    }
    nav{
        flex-direction: column;
        text-align: center;
        font-size: 14pt;
    }
    .contenedor{
        flex-direction: column;
    }
    .contenedor  section{
        width: 100%
    }
    .contenedor  aside{
        width: 100%;
        flex-direction: column;
    }
    .contenedor section div article{
        flex-direction: column;
        
    }
    .contenedor section div article .internoimagenes{
        width: 250px;
        margin: 0 auto;
    }
    .contenedor aside{
        flex-direction: column;

    }
    footer{
        flex-direction: column;
    }
    footer .botones{
        flex-direction: column;
    }
    footer .botones a{
        width: 100%;
        text-align: center;
    }
    footer .derechos{
        text-align: center;
        flex-direction: column;
        font-size: 14pt;
    }
}



